<!DOCTYPE html>
<html ng-app='cookies' lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="./javascripts/core.js"></script>
</head>
<body ng-controller="cookie_view">
    <div class="container">
        <div class="jumbotron text-center">
            <div class="navigation-bar">
                <div class="navigation-container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Worst Cookie</a>
                        </li>
                        </ul>
                </div>
           </div>

        </div>
    </div>

</body>
</html>