<!DOCTYPE html>
<html ng-app='cookies' lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Cookies</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- load jquery -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
      <!-- load angular -->
      <script src="./javascripts/core.js"></script>

   </head>
   <body >
 
      <div class="container">
 
      <div ng-controller="cookie_view">
      <div class="cookies row-fluid" ng-repeat="cookie in cookies">
         <div class="cookie_content col-md-4">
            <img class="cookie_img img-responsive" src="{{cookie.coolie_img_url}}" alt="cookie">              
            <span>
            <label class="cookie_name">{{cookie.cookie_name}} <div id="red" class="button red text-blanco text-shadow-negra">♥</div></label></span>
      
         </div>
      </div>
      </div ng-repeat-end>

   </body>

</html>