<!DOCTYPE html>
<html ng-app='cookies' lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Cookies</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- load jquery -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
      <!-- load angular -->
      <script src="./javascripts/core.js"></script>
   </head>
   <body >
      <!-- <link rel="icon" class = "fav_icon" href="http://1.bp.blogspot.com/-3MV6E06CdaE/VC3D2QbwywI/AAAAAAAAB-E/npgkkXfcFfo/s1600/CookieMonsterWaving.jpg"> -->
      <div class="container">
      <div ng-controller="cookie_view">
      <div class="cookies row-fixed" ng-repeat="cookie in cookies">
         <div class="cookie_content col-md-5">
            <img class="cookie_img img-responsive" src="{{cookie.coolie_img_url}}" alt="cookie">              
            <div class="row-fluid">
               <span>
                  <div class="col-sm-6">
                     <label class="cookie_name">{{cookie.cookie_name}}</label>
                  </div>
                  <div class="col-sm-4">
                     <div id="red" class="button" ng-click="count = count + 1" ng-init="count=0">♥</div>
                  </div>
                  <div class="col-sm-2">{{count}}</div>
               </span>

            </div>
         </div>
      </div>
      </div>
   </body>
</html>
